In [1]:
import pandas as pd
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sqlalchemy import create_engine, exc
from sqlalchemy.orm.session import sessionmaker
from bikefind.dbClasses import chartData

In [2]:
import bikefind

In [3]:
db_connection_string = "mysql+cymysql://conor:team0db1@team0db.cojxdhcdsq2b.us-west-2.rds.amazonaws.com/team0"
df_dynamic = pd.read_sql_table(table_name="dynamicData", con=db_connection_string)

In [4]:
df_dynamic['datetime'] = pd.to_datetime(df_dynamic['time'] * 1000000, errors='ignore')
df_dynamic['day'] = df_dynamic['datetime'].dt.weekday_name
df_dynamic['hour'] = df_dynamic['datetime'].dt.hour

In [5]:
df_dynamic['hour'] = df_dynamic['hour'].astype('category')
df_dynamic.dtypes

time                            int64
address                        object
totalBikeStands                 int64
availableBikeStands             int64
availableBikes                  int64
status                         object
datetime               datetime64[ns]
day                            object
hour                         category
dtype: object

In [6]:
df_dynamic = shuffle(df_dynamic)

In [7]:
df_dynamic.head(5)

,time,address,totalBikeStands,availableBikeStands,availableBikes,status,datetime,day,hour
428764,1523744320000,Exchequer Street,24,5,19,OPEN,2018-04-14 22:18:40,Saturday,22
201768,1522358165000,South Dock Road,30,3,27,OPEN,2018-03-29 21:16:05,Thursday,21
307489,1523238115000,Custom House Quay,30,10,20,OPEN,2018-04-09 01:41:55,Monday,1
21562,1521341137000,Clarendon Row,31,13,18,OPEN,2018-03-18 02:45:37,Sunday,2
170918,1522164876000,King Street North,30,30,0,OPEN,2018-03-27 15:34:36,Tuesday,15

In [8]:
descriptive = ['day', 'hour', 'address']

In [9]:
X = df_dynamic[descriptive]

y = df_dynamic['availableBikes']

In [10]:
X['Intercept'] = 1.0

/home/eoin/anaconda3/envs/Software/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [11]:
X = pd.get_dummies(X)
X = X.reindex_axis(sorted(X.columns), axis=1)

/home/eoin/anaconda3/envs/Software/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  from ipykernel import kernelapp as app

In [12]:
rfc = RandomForestClassifier(n_estimators=10, max_features='auto', oob_score=True, random_state=1)

In [13]:
rfc.fit(X, y)

/home/eoin/anaconda3/envs/Software/lib/python3.6/site-packages/sklearn/ensemble/forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/home/eoin/anaconda3/envs/Software/lib/python3.6/site-packages/sklearn/ensemble/forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=True, random_state=1, verbose=0, warm_start=False)

In [14]:
days = pd.DataFrame({"day":["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]})

In [15]:
days

         day
0     Monday
1    Tuesday
2  Wednesday
3   Thursday
4     Friday
5   Saturday
6     Sunday

In [16]:
hours = pd.DataFrame({"hour":[i for i in range(24)]})

In [17]:
hours

    hour
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23

In [18]:
addresses = pd.DataFrame({"address":df_dynamic.address.unique()})

In [19]:
addresses

                               address
0                     Exchequer Street
1                      South Dock Road
2                    Custom House Quay
3                        Clarendon Row
4                    King Street North
5                  Strand Street Great
6                          Western Way
7                        Fenian Street
8                         Hatch Street
9                         Kevin Street
10                      Francis Street
11                           The Point
12                     Blackhall Place
13               Leinster Street South
14                          Emmet Road
15            St James Hospital (Luas)
16                  Blessington Street
17               Upper Sherrard Street
18                      Clonmel Street
19                 Market Street South
20                     Brookfield Road
21                       Herbert Place
22                       Jervis Street
23          Grangegorman Lower (North)
24                        Greek Street
25             Fitzwilliam Square West
26                    New Central Bank
27             Collins Barracks Museum
28                   Earlsfort Terrace
29                    Hardwicke Street
..                                 ...
74                      Wilton Terrace
75             Fitzwilliam Square East
76                         High Street
77                          Smithfield
78                        Newman House
79                   Sir Patrick's Dun
80                     Grantham Street
81                       Benson Street
82                    Smithfield North
83                       Pearse Street
84              Heuston Bridge (South)
85                   Wolfe Tone Street
86                      Herbert Street
87                       Eccles Street
88                         Mount Brown
89                    Harcourt Terrace
90                   Ormond Quay Upper
91                      Mater Hospital
92                   Molesworth Street
93                     Parkgate Street
94                Parnell Square North
95        St. James Hospital (Central)
96                        James Street
97           Heuston Station (Central)
98                 Fownes Street Upper
99                        Georges Quay
100                      Barrow Street
101                Merrion Square West
102                     Royal Hospital
103  Princes Street / O'Connell Street

[104 rows x 1 columns]

In [20]:
addresses["key"] = "key"
days["key"] = "key"
hours["key"] = "key"

In [21]:
df = pd.merge(addresses, pd.merge(days, hours, on='key'), on='key')

In [22]:
del df["key"]
df

                                 address       day  hour
0                       Exchequer Street    Monday     0
1                       Exchequer Street    Monday     1
2                       Exchequer Street    Monday     2
3                       Exchequer Street    Monday     3
4                       Exchequer Street    Monday     4
5                       Exchequer Street    Monday     5
6                       Exchequer Street    Monday     6
7                       Exchequer Street    Monday     7
8                       Exchequer Street    Monday     8
9                       Exchequer Street    Monday     9
10                      Exchequer Street    Monday    10
11                      Exchequer Street    Monday    11
12                      Exchequer Street    Monday    12
13                      Exchequer Street    Monday    13
14                      Exchequer Street    Monday    14
15                      Exchequer Street    Monday    15
16                      Exchequer Street    Monday    16
17                      Exchequer Street    Monday    17
18                      Exchequer Street    Monday    18
19                      Exchequer Street    Monday    19
20                      Exchequer Street    Monday    20
21                      Exchequer Street    Monday    21
22                      Exchequer Street    Monday    22
23                      Exchequer Street    Monday    23
24                      Exchequer Street   Tuesday     0
25                      Exchequer Street   Tuesday     1
26                      Exchequer Street   Tuesday     2
27                      Exchequer Street   Tuesday     3
28                      Exchequer Street   Tuesday     4
29                      Exchequer Street   Tuesday     5
...                                  ...       ...   ...
17442  Princes Street / O'Connell Street  Saturday    18
17443  Princes Street / O'Connell Street  Saturday    19
17444  Princes Street / O'Connell Street  Saturday    20
17445  Princes Street / O'Connell Street  Saturday    21
17446  Princes Street / O'Connell Street  Saturday    22
17447  Princes Street / O'Connell Street  Saturday    23
17448  Princes Street / O'Connell Street    Sunday     0
17449  Princes Street / O'Connell Street    Sunday     1
17450  Princes Street / O'Connell Street    Sunday     2
17451  Princes Street / O'Connell Street    Sunday     3
17452  Princes Street / O'Connell Street    Sunday     4
17453  Princes Street / O'Connell Street    Sunday     5
17454  Princes Street / O'Connell Street    Sunday     6
17455  Princes Street / O'Connell Street    Sunday     7
17456  Princes Street / O'Connell Street    Sunday     8
17457  Princes Street / O'Connell Street    Sunday     9
17458  Princes Street / O'Connell Street    Sunday    10
17459  Princes Street / O'Connell Street    Sunday    11
17460  Princes Street / O'Connell Street    Sunday    12
17461  Princes Street / O'Connell Street    Sunday    13
17462  Princes Street / O'Connell Street    Sunday    14
17463  Princes Street / O'Connell Street    Sunday    15
17464  Princes Street / O'Connell Street    Sunday    16
17465  Princes Street / O'Connell Street    Sunday    17
17466  Princes Street / O'Connell Street    Sunday    18
17467  Princes Street / O'Connell Street    Sunday    19
17468  Princes Street / O'Connell Street    Sunday    20
17469  Princes Street / O'Connell Street    Sunday    21
17470  Princes Street / O'Connell Street    Sunday    22
17471  Princes Street / O'Connell Street    Sunday    23

[17472 rows x 3 columns]

In [23]:
X_new = df

In [24]:
X_new['Intercept'] = 1.0
X_new['hour'] = X_new['hour'].astype('category')

In [25]:
X_new = pd.get_dummies(X_new)
X_new = X_new.reindex_axis(sorted(X_new.columns), axis=1)

/home/eoin/anaconda3/envs/Software/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  from ipykernel import kernelapp as app

In [26]:
for i in list(X_new):
    if i not in X:
        print(i)

In [27]:
predictions = rfc.predict(X_new)

In [28]:
len(predictions)

17472

In [29]:
df["availableBikes"] = predictions

In [30]:
df[df['address'] == "Custom House"]

           address       day hour  Intercept  availableBikes
8400  Custom House    Monday    0        1.0               4
8401  Custom House    Monday    1        1.0               4
8402  Custom House    Monday    2        1.0               4
8403  Custom House    Monday    3        1.0              17
8404  Custom House    Monday    4        1.0               4
8405  Custom House    Monday    5        1.0               4
8406  Custom House    Monday    6        1.0               7
8407  Custom House    Monday    7        1.0               9
8408  Custom House    Monday    8        1.0               6
8409  Custom House    Monday    9        1.0              10
8410  Custom House    Monday   10        1.0              24
8411  Custom House    Monday   11        1.0               2
8412  Custom House    Monday   12        1.0               1
8413  Custom House    Monday   13        1.0              13
8414  Custom House    Monday   14        1.0              22
8415  Custom House    Monday   15        1.0              20
8416  Custom House    Monday   16        1.0              30
8417  Custom House    Monday   17        1.0              29
8418  Custom House    Monday   18        1.0              15
8419  Custom House    Monday   19        1.0              14
8420  Custom House    Monday   20        1.0              25
8421  Custom House    Monday   21        1.0              26
8422  Custom House    Monday   22        1.0              12
8423  Custom House    Monday   23        1.0              25
8424  Custom House   Tuesday    0        1.0              10
8425  Custom House   Tuesday    1        1.0               1
8426  Custom House   Tuesday    2        1.0              10
8427  Custom House   Tuesday    3        1.0               1
8428  Custom House   Tuesday    4        1.0              10
8429  Custom House   Tuesday    5        1.0              24
...            ...       ...  ...        ...             ...
8538  Custom House  Saturday   18        1.0              25
8539  Custom House  Saturday   19        1.0              29
8540  Custom House  Saturday   20        1.0              15
8541  Custom House  Saturday   21        1.0              30
8542  Custom House  Saturday   22        1.0              23
8543  Custom House  Saturday   23        1.0              25
8544  Custom House    Sunday    0        1.0              24
8545  Custom House    Sunday    1        1.0              25
8546  Custom House    Sunday    2        1.0              16
8547  Custom House    Sunday    3        1.0              16
8548  Custom House    Sunday    4        1.0              22
8549  Custom House    Sunday    5        1.0              21
8550  Custom House    Sunday    6        1.0              22
8551  Custom House    Sunday    7        1.0              23
8552  Custom House    Sunday    8        1.0              27
8553  Custom House    Sunday    9        1.0              16
8554  Custom House    Sunday   10        1.0              30
8555  Custom House    Sunday   11        1.0              30
8556  Custom House    Sunday   12        1.0              29
8557  Custom House    Sunday   13        1.0              30
8558  Custom House    Sunday   14        1.0              30
8559  Custom House    Sunday   15        1.0              17
8560  Custom House    Sunday   16        1.0              17
8561  Custom House    Sunday   17        1.0              17
8562  Custom House    Sunday   18        1.0              17
8563  Custom House    Sunday   19        1.0              17
8564  Custom House    Sunday   20        1.0              17
8565  Custom House    Sunday   21        1.0               3
8566  Custom House    Sunday   22        1.0              10
8567  Custom House    Sunday   23        1.0               5

[168 rows x 5 columns]

In [31]:
#df.to_sql("chartData", db_connection_string, if_exists="replace")

In [32]:
engine = create_engine(db_connection_string)
Session = sessionmaker(bind=engine)
session = Session()

In [33]:
rows = len(df.index)

In [34]:
del df['Intercept']

In [35]:
df.head()

            address     day hour  availableBikes
0  Exchequer Street  Monday    0               0
1  Exchequer Street  Monday    1               0
2  Exchequer Street  Monday    2               0
3  Exchequer Street  Monday    3               0
4  Exchequer Street  Monday    4               4

In [ ]:
for index, row in df.iterrows():
    if index % 10 == 0:
        print(index, '/', rows)
    address = row['address']
    day = row['day']
    hour = row['hour']
    availableBikes = row['availableBikes']

    chart_row = chartData(address = address, day = day,
                         hour = hour, availableBikes = availableBikes)
    session.add(chart_row)
    try:
        session.commit()
    except exc.IntegrityError:
        session.rollback()
        print("couldn't print", address, day, hour)
    except Exception as e:
        session.rollback()
        print(e)

0 / 17472
10 / 17472
20 / 17472
30 / 17472
40 / 17472
50 / 17472
60 / 17472
70 / 17472
80 / 17472
90 / 17472
100 / 17472
110 / 17472
120 / 17472
130 / 17472
140 / 17472
150 / 17472
160 / 17472
170 / 17472
180 / 17472
190 / 17472
200 / 17472
210 / 17472
220 / 17472
230 / 17472
240 / 17472
250 / 17472
260 / 17472
270 / 17472
280 / 17472
290 / 17472
300 / 17472
310 / 17472
320 / 17472
330 / 17472
340 / 17472
350 / 17472
360 / 17472
370 / 17472
380 / 17472
390 / 17472
400 / 17472
410 / 17472
420 / 17472
430 / 17472
440 / 17472
450 / 17472
460 / 17472
470 / 17472
480 / 17472
490 / 17472
500 / 17472
510 / 17472
520 / 17472
530 / 17472
540 / 17472
550 / 17472
560 / 17472
570 / 17472
580 / 17472
590 / 17472
600 / 17472
610 / 17472
620 / 17472
630 / 17472
640 / 17472
650 / 17472
660 / 17472
670 / 17472
680 / 17472
690 / 17472
700 / 17472
710 / 17472
720 / 17472
730 / 17472
740 / 17472
750 / 17472
760 / 17472
770 / 17472
780 / 17472
790 / 17472
800 / 17472
810 / 17472
820 / 17472
830 / 17472
840 / 17472
850 / 17472
860 / 17472
870 / 17472
880 / 17472
890 / 17472
900 / 17472
910 / 17472
920 / 17472
930 / 17472
940 / 17472
950 / 17472
960 / 17472
970 / 17472
980 / 17472
990 / 17472
1000 / 17472
1010 / 17472
1020 / 17472
1030 / 17472
1040 / 17472
1050 / 17472
1060 / 17472
1070 / 17472
1080 / 17472
1090 / 17472
1100 / 17472
1110 / 17472
1120 / 17472
1130 / 17472
1140 / 17472
1150 / 17472
1160 / 17472
1170 / 17472
1180 / 17472
1190 / 17472
1200 / 17472
1210 / 17472
1220 / 17472
1230 / 17472
1240 / 17472
1250 / 17472
1260 / 17472
1270 / 17472
1280 / 17472
1290 / 17472
1300 / 17472
1310 / 17472
1320 / 17472
1330 / 17472
1340 / 17472
1350 / 17472
1360 / 17472
1370 / 17472
1380 / 17472
1390 / 17472
1400 / 17472
1410 / 17472
1420 / 17472
1430 / 17472
1440 / 17472
1450 / 17472
1460 / 17472
1470 / 17472
1480 / 17472
1490 / 17472
1500 / 17472
1510 / 17472
1520 / 17472
1530 / 17472
1540 / 17472
1550 / 17472
1560 / 17472
1570 / 17472
1580 / 17472
1590 / 17472
1600 / 17472
1610 / 17472
1620 / 17472
1630 / 17472
1640 / 17472
1650 / 17472
1660 / 17472
1670 / 17472
1680 / 17472
1690 / 17472
1700 / 17472
1710 / 17472
1720 / 17472
1730 / 17472
1740 / 17472
1750 / 17472
1760 / 17472
1770 / 17472
1780 / 17472
1790 / 17472
1800 / 17472
1810 / 17472
1820 / 17472
1830 / 17472
1840 / 17472
1850 / 17472
1860 / 17472
1870 / 17472
1880 / 17472
1890 / 17472
1900 / 17472
1910 / 17472
1920 / 17472
1930 / 17472
1940 / 17472
1950 / 17472
1960 / 17472
1970 / 17472
1980 / 17472
1990 / 17472
2000 / 17472
2010 / 17472
2020 / 17472
2030 / 17472
2040 / 17472
2050 / 17472
2060 / 17472
2070 / 17472
2080 / 17472
2090 / 17472
2100 / 17472
2110 / 17472
2120 / 17472
2130 / 17472
2140 / 17472
2150 / 17472
2160 / 17472
2170 / 17472
2180 / 17472
2190 / 17472
2200 / 17472
2210 / 17472
2220 / 17472
2230 / 17472
2240 / 17472
2250 / 17472
2260 / 17472
2270 / 17472
2280 / 17472
2290 / 17472
2300 / 17472
2310 / 17472
2320 / 17472
2330 / 17472
2340 / 17472
2350 / 17472
2360 / 17472
2370 / 17472
2380 / 17472
2390 / 17472
2400 / 17472
2410 / 17472
2420 / 17472
2430 / 17472
2440 / 17472
2450 / 17472
2460 / 17472
2470 / 17472
2480 / 17472
2490 / 17472
2500 / 17472
2510 / 17472
2520 / 17472
2530 / 17472
2540 / 17472
2550 / 17472
2560 / 17472
2570 / 17472
2580 / 17472
2590 / 17472
2600 / 17472
2610 / 17472
2620 / 17472
2630 / 17472
2640 / 17472
2650 / 17472
2660 / 17472
2670 / 17472
2680 / 17472
2690 / 17472
2700 / 17472
2710 / 17472
2720 / 17472
2730 / 17472
2740 / 17472
2750 / 17472
2760 / 17472
2770 / 17472
2780 / 17472
2790 / 17472
2800 / 17472
2810 / 17472
2820 / 17472
2830 / 17472
2840 / 17472
2850 / 17472
2860 / 17472
2870 / 17472
2880 / 17472
2890 / 17472
2900 / 17472
2910 / 17472
2920 / 17472
2930 / 17472
2940 / 17472
2950 / 17472
2960 / 17472
2970 / 17472
2980 / 17472
2990 / 17472
3000 / 17472
3010 / 17472
3020 / 17472
3030 / 17472
3040 / 17472
3050 / 17472
3060 / 17472
3070 / 17472
3080 / 17472
3090 / 17472
3100 / 17472
3110 / 17472
3120 / 17472
3130 / 17472
3140 / 17472
3150 / 17472
3160 / 17472
3170 / 17472
3180 / 17472
3190 / 17472
3200 / 17472
3210 / 17472
3220 / 17472
3230 / 17472
3240 / 17472
3250 / 17472
3260 / 17472
3270 / 17472
3280 / 17472
3290 / 17472
3300 / 17472
3310 / 17472
3320 / 17472
3330 / 17472
3340 / 17472
3350 / 17472
3360 / 17472
3370 / 17472
3380 / 17472
3390 / 17472
3400 / 17472
3410 / 17472
3420 / 17472
3430 / 17472
3440 / 17472
3450 / 17472
3460 / 17472
3470 / 17472
3480 / 17472
3490 / 17472
3500 / 17472
3510 / 17472
3520 / 17472
3530 / 17472
3540 / 17472
3550 / 17472
3560 / 17472
3570 / 17472
3580 / 17472
3590 / 17472
3600 / 17472
3610 / 17472
3620 / 17472
3630 / 17472
3640 / 17472
3650 / 17472
3660 / 17472
3670 / 17472
3680 / 17472
3690 / 17472
3700 / 17472
3710 / 17472
3720 / 17472
3730 / 17472
3740 / 17472
3750 / 17472
3760 / 17472
3770 / 17472
3780 / 17472
3790 / 17472
3800 / 17472
3810 / 17472
3820 / 17472
3830 / 17472
3840 / 17472
3850 / 17472
3860 / 17472
3870 / 17472
3880 / 17472
3890 / 17472
3900 / 17472
3910 / 17472
3920 / 17472
3930 / 17472
3940 / 17472
3950 / 17472
3960 / 17472
3970 / 17472
3980 / 17472
3990 / 17472
4000 / 17472
4010 / 17472
4020 / 17472
4030 / 17472
4040 / 17472
4050 / 17472
4060 / 17472
4070 / 17472
4080 / 17472
4090 / 17472
4100 / 17472
4110 / 17472
4120 / 17472
4130 / 17472
4140 / 17472
4150 / 17472
4160 / 17472
4170 / 17472
4180 / 17472
4190 / 17472
4200 / 17472
4210 / 17472
4220 / 17472
4230 / 17472
4240 / 17472
4250 / 17472
4260 / 17472
4270 / 17472
4280 / 17472
4290 / 17472
4300 / 17472
4310 / 17472
4320 / 17472
4330 / 17472
4340 / 17472
4350 / 17472
4360 / 17472
4370 / 17472
4380 / 17472
4390 / 17472
4400 / 17472
4410 / 17472
4420 / 17472
4430 / 17472
4440 / 17472
4450 / 17472
4460 / 17472
4470 / 17472
4480 / 17472
4490 / 17472
4500 / 17472
4510 / 17472
4520 / 17472
4530 / 17472
4540 / 17472
4550 / 17472
4560 / 17472
4570 / 17472
4580 / 17472
4590 / 17472
4600 / 17472
4610 / 17472
4620 / 17472
4630 / 17472
4640 / 17472
4650 / 17472
4660 / 17472
4670 / 17472
4680 / 17472
4690 / 17472
4700 / 17472
4710 / 17472
4720 / 17472
4730 / 17472
4740 / 17472
4750 / 17472
4760 / 17472
4770 / 17472
4780 / 17472
4790 / 17472
4800 / 17472
4810 / 17472
4820 / 17472
4830 / 17472
4840 / 17472
4850 / 17472
4860 / 17472
4870 / 17472
4880 / 17472
4890 / 17472
4900 / 17472
4910 / 17472
4920 / 17472
4930 / 17472
4940 / 17472
4950 / 17472
4960 / 17472
4970 / 17472
4980 / 17472
4990 / 17472
5000 / 17472
5010 / 17472
5020 / 17472
5030 / 17472
5040 / 17472
5050 / 17472
5060 / 17472
5070 / 17472
5080 / 17472
5090 / 17472
5100 / 17472
5110 / 17472
5120 / 17472
5130 / 17472
5140 / 17472
5150 / 17472
5160 / 17472
5170 / 17472
5180 / 17472
5190 / 17472
5200 / 17472
5210 / 17472
5220 / 17472
5230 / 17472
5240 / 17472
5250 / 17472
5260 / 17472
5270 / 17472
5280 / 17472
5290 / 17472
5300 / 17472
5310 / 17472
5320 / 17472
5330 / 17472
5340 / 17472
5350 / 17472
5360 / 17472
5370 / 17472
5380 / 17472
5390 / 17472
5400 / 17472
5410 / 17472
5420 / 17472
5430 / 17472
5440 / 17472
5450 / 17472
5460 / 17472
5470 / 17472
5480 / 17472
5490 / 17472
5500 / 17472
5510 / 17472
5520 / 17472
5530 / 17472
5540 / 17472
5550 / 17472
5560 / 17472
5570 / 17472
5580 / 17472
5590 / 17472
5600 / 17472
5610 / 17472
5620 / 17472
5630 / 17472
5640 / 17472
5650 / 17472
5660 / 17472
5670 / 17472
5680 / 17472
5690 / 17472
5700 / 17472
5710 / 17472
5720 / 17472
5730 / 17472
5740 / 17472
5750 / 17472
5760 / 17472
5770 / 17472
5780 / 17472
5790 / 17472
5800 / 17472
5810 / 17472
5820 / 17472
5830 / 17472
5840 / 17472
5850 / 17472
5860 / 17472
5870 / 17472
5880 / 17472
5890 / 17472
5900 / 17472
5910 / 17472
5920 / 17472
5930 / 17472
couldn't print Rothe Abbey Wednesday 11
5940 / 17472
couldn't print Rothe Abbey Wednesday 12
couldn't print Rothe Abbey Wednesday 13
couldn't print Rothe Abbey Wednesday 14
couldn't print Rothe Abbey Wednesday 15
couldn't print Rothe Abbey Wednesday 16
couldn't print Rothe Abbey Wednesday 17
couldn't print Rothe Abbey Wednesday 18
couldn't print Rothe Abbey Wednesday 19
couldn't print Rothe Abbey Wednesday 20
couldn't print Rothe Abbey Wednesday 21
5950 / 17472
couldn't print Rothe Abbey Wednesday 22
couldn't print Rothe Abbey Wednesday 23
couldn't print Rothe Abbey Thursday 0

couldn't print Rothe Abbey Thursday 1
couldn't print Rothe Abbey Thursday 2
couldn't print Rothe Abbey Thursday 3
couldn't print Rothe Abbey Thursday 4
couldn't print Rothe Abbey Thursday 5
couldn't print Rothe Abbey Thursday 6
couldn't print Rothe Abbey Thursday 7
5960 / 17472
couldn't print Rothe Abbey Thursday 8
couldn't print Rothe Abbey Thursday 9
couldn't print Rothe Abbey Thursday 10
couldn't print Rothe Abbey Thursday 11
couldn't print Rothe Abbey Thursday 12
couldn't print Rothe Abbey Thursday 13
couldn't print Rothe Abbey Thursday 14
couldn't print Rothe Abbey Thursday 15
couldn't print Rothe Abbey Thursday 16
couldn't print Rothe Abbey Thursday 17
5970 / 17472
couldn't print Rothe Abbey Thursday 18
couldn't print Rothe Abbey Thursday 19
couldn't print Rothe Abbey Thursday 20
couldn't print Rothe Abbey Thursday 21
couldn't print Rothe Abbey Thursday 22
couldn't print Rothe Abbey Thursday 23
couldn't print Rothe Abbey Friday 0
couldn't print Rothe Abbey Friday 1
couldn't print Rothe Abbey Friday 2
couldn't print Rothe Abbey Friday 3
5980 / 17472
couldn't print Rothe Abbey Friday 4
couldn't print Rothe Abbey Friday 5
couldn't print Rothe Abbey Friday 6
couldn't print Rothe Abbey Friday 7
couldn't print Rothe Abbey Friday 8
couldn't print Rothe Abbey Friday 9
couldn't print Rothe Abbey Friday 10
couldn't print Rothe Abbey Friday 11
couldn't print Rothe Abbey Friday 12
couldn't print Rothe Abbey Friday 13
5990 / 17472
couldn't print Rothe Abbey Friday 14
couldn't print Rothe Abbey Friday 15
couldn't print Rothe Abbey Friday 16
couldn't print Rothe Abbey Friday 17
couldn't print Rothe Abbey Friday 18
couldn't print Rothe Abbey Friday 19
couldn't print Rothe Abbey Friday 20
couldn't print Rothe Abbey Friday 21
couldn't print Rothe Abbey Friday 22
couldn't print Rothe Abbey Friday 23
6000 / 17472
couldn't print Rothe Abbey Saturday 0
couldn't print Rothe Abbey Saturday 1
couldn't print Rothe Abbey Saturday 2
couldn't print Rothe Abbey Saturday 3
couldn't print Rothe Abbey Saturday 4
couldn't print Rothe Abbey Saturday 5
couldn't print Rothe Abbey Saturday 6
couldn't print Rothe Abbey Saturday 7
couldn't print Rothe Abbey Saturday 8
couldn't print Rothe Abbey Saturday 9
6010 / 17472
couldn't print Rothe Abbey Saturday 10
couldn't print Rothe Abbey Saturday 11
couldn't print Rothe Abbey Saturday 12
couldn't print Rothe Abbey Saturday 13
couldn't print Rothe Abbey Saturday 14
couldn't print Rothe Abbey Saturday 15
couldn't print Rothe Abbey Saturday 16
couldn't print Rothe Abbey Saturday 17
couldn't print Rothe Abbey Saturday 18
couldn't print Rothe Abbey Saturday 19
6020 / 17472
couldn't print Rothe Abbey Saturday 20
couldn't print Rothe Abbey Saturday 21
couldn't print Rothe Abbey Saturday 22
couldn't print Rothe Abbey Saturday 23
couldn't print Rothe Abbey Sunday 0
couldn't print Rothe Abbey Sunday 1
couldn't print Rothe Abbey Sunday 2
couldn't print Rothe Abbey Sunday 3
couldn't print Rothe Abbey Sunday 4
couldn't print Rothe Abbey Sunday 5
6030 / 17472
couldn't print Rothe Abbey Sunday 6
couldn't print Rothe Abbey Sunday 7
couldn't print Rothe Abbey Sunday 8
couldn't print Rothe Abbey Sunday 9
couldn't print Rothe Abbey Sunday 10
couldn't print Rothe Abbey Sunday 11
couldn't print Rothe Abbey Sunday 12
couldn't print Rothe Abbey Sunday 13
couldn't print Rothe Abbey Sunday 14
couldn't print Rothe Abbey Sunday 15
6040 / 17472
couldn't print Rothe Abbey Sunday 16
couldn't print Rothe Abbey Sunday 17
couldn't print Rothe Abbey Sunday 18
couldn't print Rothe Abbey Sunday 19
couldn't print Rothe Abbey Sunday 20
couldn't print Rothe Abbey Sunday 21
couldn't print Rothe Abbey Sunday 22
couldn't print Rothe Abbey Sunday 23
6050 / 17472
6060 / 17472
6070 / 17472
6080 / 17472
6090 / 17472
6100 / 17472
6110 / 17472
6120 / 17472
6130 / 17472
6140 / 17472
6150 / 17472
6160 / 17472
6170 / 17472
6180 / 17472
6190 / 17472
6200 / 17472
6210 / 17472
6220 / 17472
6230 / 17472
6240 / 17472
6250 / 17472
6260 / 17472
6270 / 17472
6280 / 17472
6290 / 17472
6300 / 17472
6310 / 17472
6320 / 17472
6330 / 17472
6340 / 17472
6350 / 17472
6360 / 17472
6370 / 17472
6380 / 17472
6390 / 17472
6400 / 17472
6410 / 17472
6420 / 17472
6430 / 17472
6440 / 17472
6450 / 17472
6460 / 17472
6470 / 17472
6480 / 17472
6490 / 17472
6500 / 17472
6510 / 17472
6520 / 17472
6530 / 17472
6540 / 17472
6550 / 17472
6560 / 17472
6570 / 17472
6580 / 17472
6590 / 17472
6600 / 17472
6610 / 17472
6620 / 17472
6630 / 17472
6640 / 17472
6650 / 17472
6660 / 17472
6670 / 17472
6680 / 17472
6690 / 17472
6700 / 17472
6710 / 17472
6720 / 17472
6730 / 17472
6740 / 17472
6750 / 17472
6760 / 17472
6770 / 17472
6780 / 17472
6790 / 17472
6800 / 17472
6810 / 17472
6820 / 17472
6830 / 17472
6840 / 17472
6850 / 17472
6860 / 17472
6870 / 17472
6880 / 17472
6890 / 17472
6900 / 17472
6910 / 17472
6920 / 17472
6930 / 17472
6940 / 17472
6950 / 17472
6960 / 17472
6970 / 17472
6980 / 17472
6990 / 17472
7000 / 17472
7010 / 17472
7020 / 17472
7030 / 17472
7040 / 17472
7050 / 17472
7060 / 17472
7070 / 17472
7080 / 17472
7090 / 17472
7100 / 17472
7110 / 17472
7120 / 17472
7130 / 17472
7140 / 17472
7150 / 17472
7160 / 17472
7170 / 17472
7180 / 17472
7190 / 17472
7200 / 17472
7210 / 17472
7220 / 17472
7230 / 17472
7240 / 17472
7250 / 17472
7260 / 17472
7270 / 17472
7280 / 17472
7290 / 17472
7300 / 17472
7310 / 17472
7320 / 17472
7330 / 17472
7340 / 17472
7350 / 17472
7360 / 17472
7370 / 17472
7380 / 17472
7390 / 17472
7400 / 17472
7410 / 17472
7420 / 17472
7430 / 17472
7440 / 17472
7450 / 17472
7460 / 17472
7470 / 17472
7480 / 17472
7490 / 17472
7500 / 17472
7510 / 17472
7520 / 17472
7530 / 17472
7540 / 17472
7550 / 17472
7560 / 17472
7570 / 17472
7580 / 17472
7590 / 17472
7600 / 17472
7610 / 17472
7620 / 17472
7630 / 17472
7640 / 17472
7650 / 17472
7660 / 17472
7670 / 17472
7680 / 17472
7690 / 17472
7700 / 17472
7710 / 17472
7720 / 17472
7730 / 17472
7740 / 17472
7750 / 17472
7760 / 17472
7770 / 17472
7780 / 17472
7790 / 17472
7800 / 17472
7810 / 17472
7820 / 17472
7830 / 17472
7840 / 17472
7850 / 17472
7860 / 17472
7870 / 17472
7880 / 17472
7890 / 17472
7900 / 17472
7910 / 17472
7920 / 17472
7930 / 17472
7940 / 17472
7950 / 17472
7960 / 17472
7970 / 17472
7980 / 17472
7990 / 17472
8000 / 17472
8010 / 17472
8020 / 17472
8030 / 17472
8040 / 17472
8050 / 17472
8060 / 17472
8070 / 17472
8080 / 17472
8090 / 17472
8100 / 17472
8110 / 17472
8120 / 17472
8130 / 17472
8140 / 17472
8150 / 17472
8160 / 17472
8170 / 17472
8180 / 17472
8190 / 17472
8200 / 17472
8210 / 17472
8220 / 17472
8230 / 17472
8240 / 17472
8250 / 17472
8260 / 17472
8270 / 17472
8280 / 17472
8290 / 17472
8300 / 17472
8310 / 17472
8320 / 17472
8330 / 17472
8340 / 17472
8350 / 17472
8360 / 17472
8370 / 17472
8380 / 17472
8390 / 17472
8400 / 17472
8410 / 17472
8420 / 17472
8430 / 17472
8440 / 17472
8450 / 17472
8460 / 17472
8470 / 17472
8480 / 17472
8490 / 17472
8500 / 17472
8510 / 17472
8520 / 17472
8530 / 17472
8540 / 17472
8550 / 17472
8560 / 17472
8570 / 17472
8580 / 17472
8590 / 17472
8600 / 17472
8610 / 17472
8620 / 17472
8630 / 17472
8640 / 17472
8650 / 17472
8660 / 17472
8670 / 17472
8680 / 17472
8690 / 17472
8700 / 17472
8710 / 17472
8720 / 17472
8730 / 17472
8740 / 17472
8750 / 17472
8760 / 17472
8770 / 17472
8780 / 17472
8790 / 17472
8800 / 17472
8810 / 17472
8820 / 17472
8830 / 17472
8840 / 17472
8850 / 17472
8860 / 17472
8870 / 17472
8880 / 17472
8890 / 17472
8900 / 17472
8910 / 17472
8920 / 17472
8930 / 17472
8940 / 17472
8950 / 17472
8960 / 17472
8970 / 17472
8980 / 17472
8990 / 17472
9000 / 17472
9010 / 17472
9020 / 17472
9030 / 17472
9040 / 17472
9050 / 17472
9060 / 17472
9070 / 17472
9080 / 17472
9090 / 17472
9100 / 17472
9110 / 17472
9120 / 17472
9130 / 17472
9140 / 17472
9150 / 17472
9160 / 17472
9170 / 17472
9180 / 17472
9190 / 17472
9200 / 17472
9210 / 17472
9220 / 17472
9230 / 17472
9240 / 17472
9250 / 17472